## Final Project Submission

Please fill out:
* Student names: Christopher Noel, Margaret Nyairo, Victor Masinde, James Ngumo, Anthony Ekeno. 
* Student pace: full time 
* Instructor name: Maryann Mwikali

 Market Analysis & Insights For Strategic Movie Production

## Business Understanding

### Overview
This project is designed to aid a company's venture into the movie production industry by launching a new studio. Through comprehensive data analysis, the project will identify current trends and provide actionable insights from box office data. This information will guide the company in determining the types of movies that are most successful in todayâ€™s market, thereby supporting strategic content creation and maximizing box office returns

###  The Problem Statement
The company needs to pinpoint what types of movies are most successful in the current market to propel the new studio's launch. Specifically, we aim to:

1. **Identify the Genres Performing Well at the Box Office**: Determine which movie genres are currently popular and yield high box office returns.
   
2. **Analyze Movie Budgets and Profitability**: Evaluate the relationship between production budgets, returns, and overall profitability to find the optimal investment range.
   
3. **Assess Audience Demographics Driving Success**: Understand which demographic segments are contributing significantly to box office revenues.
   
4. **Recommend Optimal Release Seasons or Windows**: Identify the best times of the year for releasing movies to maximize box office performance.

### Main objectives
To identify the most successful types of films currently at the box office and translate these insights into actionable strategies that guide the new movie studio's production choices, ensuring competitive and commercial success in the film industry.

 ## Data Wrangling


 ### import libraries
First we import the necessary packages for Exploratory data analysis.

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3 

%matplotlib inline

### Exploratory Data Analysis

The data used in this analysis contains data collected from various popular movie sites such as Box Office Mojo, IMDb, rotten tomato reviews. It contains detailed information on movie titles, actors, directors, box office earnings, and movie ratings.
1. im.db

2. box office mojo

3. movie budgets 

4. movie info

### Import Data sets

##### First Dataset - im.db
This dataset will form root basis of analysis

In [2]:
#FIRST DATA SET IM.DB- 

#establishing a connection with database.
conn = sqlite3.connect("zippedData/im.db")
cur = conn.cursor()

#opening the database

pd.read_sql("""
SELECT*
FROM sqlite_master
""",conn)

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []

###### An Entity Relationship Diagram [ERD]
-Below is an ERD explaining further contents contained in tables shown above

-After studying each column name in the ERD below, we discover that we are interested in the contenct of two tables. These are; **movie_basics and movie_ratings**  since they have contents that will be vital to our analysis.

-Analyse structure of the tables by using **JOIN** statement to combine them.

![Alt text](movie_data_erd.jpeg)

######  JOIN tables[ movie basics + movie ratings]  to create a new dataframe  **imdb**

In [3]:
## merge required tables then convert it to a dataframe
#Select relevant information from movie_basics table
#JOIN to movie_ratings

imdb = pd.read_sql("""
SELECT primary_title,start_year,runtime_minutes,genres,averagerating
FROM movie_basics
JOIN movie_ratings
USING("movie_id")
""",conn)
imdb

DatabaseError: Execution failed on sql '
SELECT primary_title,start_year,runtime_minutes,genres,averagerating
FROM movie_basics
JOIN movie_ratings
USING("movie_id")
': no such table: movie_basics

##### SECOND DATASET  -box office mojo gross
Essential for understanding box office success and profitability.

In [ ]:
## SECOND DATASET 
gross = pd.read_csv("zippedData/bom.movie_gross.csv.gz")
gross.head()

##### THIRD DATASET -movie budgets
Used to assess budget-related profitability.

In [ ]:
## THIRD DATASET
budget = pd.read_csv("zippedData/tn.movie_budgets.csv.gz")
budget.head()

###### FOURTH DATASET - movie info
Allows us to categorize movies, essential for identifying high-performing genres

In [ ]:
# FOURTH DATASET
movie_info = pd.read_csv("zippedData/rt.movie_info.tsv.gz",sep="\t")
movie_info.head()

####  Data Understanding 
In this section we are going to examine our data for better understanding before we start working on it. The section helps us ascertain the number of rows and columns(`.shape`). We also get a slight summary of the data displaying column names, number of non-null values and the Dtype of the column contents(`info`).When dealing with continous data, we can have a brief statistical summary of the columns with intergers or float data types(`.describe`)

######  .info Function
This returns the summary of the data frame

In [ ]:
# first dataset
imdb.info()

In [ ]:
# second dataset 
gross.info()

In [ ]:
#  third dataset
budget.info()

In [ ]:
# fourth dataset 
movie_info.info()

###### .columns Function
This returns column labels of each dataframe

In [ ]:
# First DataSet
imdb.columns

In [ ]:
# Second DataSet
gross.columns

In [ ]:
# Third DataSet
budget.columns

In [ ]:
# Fourth DataSet 
movie_info.columns

###### .describe Function 
This returns the descriptive statistics of the dataframe

In [ ]:
# First DataSet
imdb.describe()

In [ ]:
# Second DataSet 
gross.describe()

In [ ]:
# Third Dataset
budget.describe()

In [ ]:
# Fourth DataSet
movie_info.describe()

###### .shape  function 
-This returns number of rows , columns

In [ ]:
# First DataSet
imdb.shape

In [ ]:
# Seond DataSet
gross.shape

In [ ]:
# Third DataSet
budget.shape

In [ ]:
# Fourth DataSet
movie_info.shape

We are working with four different datasets for this project. The first one named **imdb** has 73856 rows and 5 columns.It was sourced from internet. It has all the three types of data namely Float, intergers and objects. The data here helps us analyse the `genres, titles, runtime minutes and the ratings of movies`

The second dataset is named **gross** and it has 3387 rows and 5 columns. It was sourced from internet. It has Float, intergers and objects as dataypes. The data here helps us analyse income generated as it contains columns with `domestic and foreign gross data.`

The third dataset is named **budget** and it has 5782 rows and 6 columns. It was sourced from internet. The datatypes in this dataset are intergers and objects only. It has columns that can help us calculate the budget of producing a movie i.e `production_budget`. We can also see seasonal trends as it has a column with information on dates. 

The last dataset is named **movie_info** and it has 1560 rows and 12 columns. It is sourced from internet. The datatypes in this dataset are intergers and objects only. It has columns with information about `writer, director, studio` etc that can help us make informed reccomendations at the end of the project

# Data cleaning
 Modify the data set in some manner to correct erroneous data, remove redundancies;
 
 PART A

 checking for `missing values`
 
 checking for `Duplicates`
 
 PART B
 
 deciding whether to fill/drop missing values& duplicates
 
 dropping Columns {based(1&2)/ on irrelevance }

#### Part A 
##### checking for missing values in DataSets

In [ ]:
## First DataSet %missing_Values
imdb.isnull().mean()*100

In [ ]:
# Second DataSet %missing_Values
gross.isnull().mean()*100

In [ ]:
# Third DataSet %missing_Values
budget.isnull().mean()*100

In [ ]:
# Fourth DataSet %missing_Values
movie_info.isnull().mean()*100

####  check for duplicates in DataSets

In [ ]:
# FirstDataSet -duplicates--has 1 duplicate
imdb.duplicated().value_counts()

In [ ]:
# SecondDataSet - duplicates--has no duplicates
gross.duplicated().value_counts()

In [ ]:
# ThirdDataSet -duplicates--has no duplicates
budget.duplicated().value_counts()

In [ ]:
# FourthDataSet -duplicates--has no duplicates
movie_info.duplicated().value_counts()

### Part B  
-Drop `duplicates`

-Drop `rows` with missing_values

-Drop `columns` based on relevance & consistency

In [ ]:
# code drops duplicated rows in the imdb DataSet
imdb.drop_duplicates(inplace=True)
imdb.duplicated().value_counts()

In [ ]:
# # The code below drop rows with missing values permanently
imdb.dropna(subset=['runtime_minutes',  'genres',], inplace=True)
imdb

In [ ]:
# Check to confirm no more missing values in dataframe
imdb.isna().sum()

##### Dropping Columns
-`movie_info & budget` , have a common column with the same name `id`

-On further analysis the columns have no corelation. To retain consistency we drop

In [ ]:
## drop 'id' column form budget DataSet
budget.drop(columns=['id'], inplace=True)

###### For movie_info we decide to drop the columns  currency & box office , since they had 78% missing values and would cause inconsistencies in our data

In [ ]:
#We drop columns that have been noted 
movie_info.drop(columns=['currency', 'box_office', 'id'], inplace=True)

### Data Transformation
-Converting the datatypes in our datasets to enable manipulation

-`gross[foreign_gross]-&-budget[domestic_gross,producion_budget,worldwide_gross]`  the columns in this dataset are  `object` datatype,this means the numeric figures are read like `strings` instead of numbers. So to have clarity ,we convert them to `float datatype` for more accurate readings

In [ ]:
# Second DataSet-- gross
# Changing data type from an object to a float

gross['foreign_gross'] = gross['foreign_gross'].replace({'\$': '', ',': ''}, regex=True).astype(float)
gross.info()

###### converting budget columns`domestic_gross`, `production_budget`, `worldwide_gross` to `float datatype`

In [ ]:
# List of columns to clean and convert to float
columns_converted = ['domestic_gross', 'production_budget', 'worldwide_gross']

# Loop through each column, replace the unwanted characters, and convert to float
for column in columns_converted:
    budget[column] = budget[column].replace({'\$': '', ',': ''}, regex=True).astype(float)

In [ ]:
budget.info()

# Data Merging
-Having a cleaned data versions we perform  `.merge`

-Merging data frames combines multiple datasets into a single, unified dataset, allowing for a more comprehensive analysis.

-Merging the datasets will enable us to explain more with visualization for better understanding of our objective

##### First Merge 
-The gross & imdb  dataset

-We perform a inner join ; we use this to retain all rows from both dataframes with matching keys, that is :

-gross[title]---imdb[primary_title]

In [ ]:
## merge imdb & gross
mer = pd.merge(gross, imdb, left_on='title', right_on='primary_title', how='inner')
mer

##### Second Merge
-The second merger consists of combining newly merged dataset   with movie_info

-`(gross,imdb)mer `+ `movie_info`

-we merge using `innerjoin ` since the datasets have a common column name `studio`

In [ ]:
#Merge the datasets on common columns---(gross,imdb) + movie_info
merged_df = pd.merge(mer, movie_info, on='studio')
merged_df

#### Final Merge---- gross + imdb + info + budget
-Combine all 4 Datasets into a singular dataframe

-`(gross,imdb,info)merged_df + budget`

--we merge using innerjoin since the datasets have a common column name `domestic_gross`

In [ ]:
#The next merge
#Merge the datasets on common columns---gross.imdb,info,budget
merged_df2 = pd.merge(merged_df, budget, on='domestic_gross')
merged_df2

##### Final Analysis of  our new data frame

In [ ]:
# has 90 rows & 22 columns
merged_df2.shape

In [ ]:
# Final COLUMN NAMES
merged_df2.columns

In [ ]:
# Final DESCRIPTIVE STATISTICS -percentile, mean , standard deviation
merged_df2.describe()

### Data Grouping -.groupby()


-We use -.groubby() ; to group relevant data together/separate identical data into groups to allow for further aggregation and analysis 

-From our new data frame we analyse given columns; `'title', 'studio', 'domestic_gross', 'foreign_gross', 'year',
       'primary_title', 'start_year', 'runtime_minutes', 'genres',
       'averagerating', 'synopsis', 'rating', 'genre', 'director', 'writer',
       'theater_date', 'dvd_date', 'runtime', 'release_date', 'movie',
       'production_budget', 'worldwide_gross'`

-will enable us to explain more with visualization for better understanding of our objective

###### groupby()-{movie}Rating and comparing their different earnings with DOMESTIC vs FOREIGN earnings
-`demographic perfomance `; this aligns population interests according to the `rating` hereby giving as the chance to 
analyse how the ratings are perceived `locally`, `internationally` and the `total` outcome

In [ ]:
demographic_performance = merged_df2.groupby('rating')[['domestic_gross', 'foreign_gross']].sum()
demographic_performance

create a new column `total_gross` on grouped dataframe

In [ ]:
demographic_performance['total_gross'] = demographic_performance['domestic_gross'] + demographic_performance['foreign_gross']
demographic_performance

###### demographic-perfomance
first visual - two bar plots are used to visualize the total domestic and foreign gross by movie rating.

second visual -  a bar plot is used to display the total gross by rating, to get general overview .

In [ ]:
# Resetting index to use ratings as a column
demographic_performance.reset_index(inplace=True)

# Setting the plot style
sns.set(style='whitegrid')

# Create a bar plot for domestic gross
plt.figure(figsize=(12, 6))

# Plotting Domestic Gross
plt.subplot(1, 2, 1)
sns.barplot(x='rating', y='domestic_gross', data=demographic_performance, palette='Blues')
plt.title('Total Domestic Gross by Rating')
plt.xlabel('Rating')
plt.ylabel('Domestic Gross ($)')

# Plotting Foreign Gross
plt.subplot(1, 2, 2)
sns.barplot(x='rating', y='foreign_gross', data=demographic_performance, palette='Oranges')
plt.title('Total Foreign Gross by Rating')
plt.xlabel('Rating')
plt.ylabel('Foreign Gross ($)')

# Show the plots
plt.tight_layout()
plt.show()

-`PG-13` have highest earnings domestically

-`R` have highest earnings in the foreign markets

In [ ]:
sns.set(style='whitegrid')

# Create a bar plot for total gross by release month
plt.figure(figsize=(12, 6))
sns.barplot(x='rating', y='total_gross', data=demographic_performance, palette='viridis')
plt.title('Total Gross by Rating')
plt.xlabel('Rating')
plt.ylabel('Total Gross ($)')
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability

# Show the plot
plt.tight_layout()
plt.show()

`R` has the highest total earnings

##### groupby()- to check Monthly Perfomance Profitability
-This Grouping is done to identify most popular time to release movies

-The function **pd.to_datetime** converts our theatre date from  string Date time into Python Date time object.Then creates a new column **release_month**

In [ ]:
#seasonal release per month
merged_df2['release_month'] = pd.to_datetime(merged_df2['theater_date']).dt.month
merged_df2

###### monthly_perfomance 
-`release_month`- newly formed column gives us the three months in which movies are released

-`domestic & foreign gross`-revenues by month of release ie locally and internationally

-`total_gross`- a new column is created in grouped dataset to give a summary of gross revenue per month

In [ ]:
seasonal_performance = merged_df2.groupby('release_month')[['domestic_gross', 'foreign_gross']].sum().reset_index()
seasonal_performance
# ## creating a new column "total gross"
seasonal_performance['total_gross'] = seasonal_performance['domestic_gross'] + seasonal_performance['foreign_gross']
seasonal_performance

##### plots to show how three different months (`JUNE`, `SEPTEMBER`, `OCTOBER`) had most earnings

-first visual- compares the different months earnings locally & internationally

-second visual- compiles the `foreign + domestic gross` to give the `total` outcome of the seasons

In [ ]:

seasonal_performance.plot(x='release_month', y=['domestic_gross', 'foreign_gross'], kind='bar', figsize=(10,5))
plt.title('Month Performance')
plt.ylabel('Gross')
plt.xlabel('Months')
plt.xticks(rotation=10, ha='right')
plt.tight_layout()
plt.show()

`JUNE` domestic gross is higher than foreign gross 

`SEPTENBER` foreign gross is higher than the domestic gross

`OCTOBER` foreign gross is higher than domestic gross

In [ ]:
# Using visualization to show seasonal performance of domestic and foreign gross
# Setting the plot style
sns.set(style='whitegrid')

# Create a bar plot for total gross by release month
plt.figure(figsize=(12, 6))
sns.barplot(x='release_month', y='total_gross', data=seasonal_performance, palette='viridis')
plt.title('Total Gross by Release Month')
plt.xlabel('Release Month')
plt.ylabel('Total Gross ($)')
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability

# Show the plot
plt.tight_layout()
plt.show()

`JUNE`  lowest total returns

`SEPTEMBER` higher returns than `JUNE`

`OCTOBER`  the highest total returns than `SEPTEMBER & JUNE`

###### Correlation coefficients-  measure the strength and direction of a linear relationship
-1 indicates a perfect negative correlation: as one variable increases, the other variable decreases.

0 indicates no correlation: there is no linear relationship between the two variables.

1 indicates a perfect positive correlation: as one variable increases, the other variable also increases.

In [ ]:
# finding direct relationships in  our dataset
coeff = merged_df2.corr()
coeff

In [ ]:
##plotting a heatmap 
plt.figure(figsize=(12, 8))  
sns.heatmap(coeff, annot=True, cbar_kws={'label': 'correlation coefficient'})

plt.title('Basis') 
plt.show()

Domestic Gross and Worldwide Gross (0.800886): There is a strong positive correlation, suggesting that movies with higher domestic gross tend to have higher worldwide gross. This is expected, as domestic earnings often contribute significantly to total earnings.

In [ ]:
# Group by studio and sum the production budgets
budget_studio = merged_df2.groupby('studio')['production_budget'].sum().reset_index()

# Sort the data by production_budget 
budget_studio = budget_studio.sort_values(by='production_budget')

# Plot
plt.figure(figsize=(10, 6))
sns.barplot(data=budget_studio, x='production_budget', y='studio', palette='viridis')
plt.title('Studio Budgets')
plt.xlabel('Total Production Budget (in $)')
plt.ylabel('Studio')
plt.show()

`Fox` lowest production budget

`IFC & WB`moderate production budget

`A24` highest production budget

##### groupby() genre 
-`genre`; to find out which is most popular in market, the total earnings `domestically & internationally`

-create a new column `total_gross` for general  comparison

In [ ]:
genre_performance = merged_df2.groupby('genre')[['domestic_gross', 'foreign_gross']].sum()
genre_performance['total_gross'] = genre_performance['domestic_gross'] + genre_performance['foreign_gross']
genre_performance

In [ ]:
# Reset index for plotting
genre_performance = genre_performance.reset_index()

# Plotting
plt.figure(figsize=(12, 8))

# Create a bar plot for total gross by genre
sns.barplot(data=genre_performance, x='total_gross', y='genre', palette='viridis')

plt.title('Total Gross Earnings by Genre (Domestic + Foreign)')
plt.xlabel('Total Gross Earnings (in $)')
plt.ylabel('Genre')
plt.show()

`Drama/Mystery and Suspense` genre with highest total earnings 

`Comedy/Drama` genre with lower earnings

`Drama/Horror` genre with the lowest earnings

###### second visual- plot to show popularity of genres

In [ ]:
plt.figure(figsize=(12,10))
merged_df2['genres'].hist(bins=37)
plt.title('Histogram of Genres')
plt.xticks(rotation=90, ha='right')
plt.tight_layout()
plt.show()

these are the most popular genres in the industry

`Documentary` 

`Comedy,Drama,History` 

`Action, Thriller & Comedy,Drama,Thriller`

#### saving our dataframe to excel for Tableau Analysis

In [ ]:
###convert dataframe to excel format
merged_df2.to_excel('film_analysis.xlsx', index=False)

### Conclusions

`Demographics Driving Success:
-The analysis of ratings indicates that PG-13 rated movies have the highest domestic earnings, while R-rated movies perform better in foreign markets. This suggests that different ratings attract different audience segments.`

`Optimal Release Seasons:
-The analysis of monthly performance shows that October has the highest total gross, followed by September, while June has the lowest total returns. This indicates that the fall(SEPT/OCT) season may be the most lucrative time for movie releases.
-The foreign gross tends to outperform domestic gross in September and October, suggesting that these months may attract a more international audience.`

`Movie Budgets and Profitability:
-There is a strong positive correlation (0.800886) between domestic gross and worldwide gross, suggesting that movies with higher domestic earnings tend to perform well globally.
-The analysis of studio budgets shows that A24 has the highest production budget, which may correlate with its success in producing high-grossing films.
-Studios like Fox have lower production budgets, which may limit their ability to produce high-grossing films.`

`Most popular Gernres;
-Documentary
-Comedy,Drama,History
-Action, Thriller & Comedy,Drama,Thriller
-These are the most popular genres in the movie industry`


The new studio can make informed decisions that align with current market trends, audience preferences, and optimal release strategies. This approach will help ensure competitive and commercial success in the film industry, ultimately leading to a successful launch and sustained growth for the studio.

## Recommendations

We would recommend the company to focus on :

High-Performing Genres:The new studio should prioritize producing films in the`Documentary` , it yield's high box office returns.

Strategic Release Timing: Plan major releases for the fall months `(September and October)` to capitalize on higher audience turnout and box office performance. September has highest returns on Domestic market while October has highest returns in the Foreign market

Budget Allocation : since we want to minimize cost and it is not necessarily correct that a high production budget relates to higher returns. The optimal solution would be choosing  the studio with the lowest production budget , which is `Fox`

Target Audience: Marketing strategies based on the ratings that perform best in different markets. For instance, focus on PG-13 ratings for domestic releases and R ratings for international markets.
 
If interested in other options, consider the following genres ; `Comedy/Drama/History, Action/Thriller & Comedy/Drama/Thriller`.

If interested in other studios with favorable budgets, consider ; ` Independent Film Channel(IFC) & Warner Bros(WB)`.